:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
  --Grad: linear-gradient(135deg, #f761a1, #8c1bab);
}
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
.rm-pd {
  padding: 0;
  margin: 0;
}

.header {
  background: var(--red-r-4, #fff4f7);
  padding: 26.5px 57px 27.5px 71px;
  z-index: 999;
  position: relative;
}

.header .categories ul,
.header .categories ul li,
.header .categories ul li a {
  margin: 0;
}

.header .categories .subcategories {
  display: flex;
  gap: 10px;
}

.logo img {
  max-width: 50%;
  height: auto;
}

.categories a {
  font-family: var(--roboto);
  color: #000;
  text-decoration: none;
  margin: 0 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.btn-common {
  padding: 16px 31px;
  text-align: center;
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  text-decoration: none;
}

.sign-in {
  /* background: var(--dark-d-2, #8184a1); */
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #d354a4;
  /* border: 1px solid;
  border-image: linear-gradient(135deg, #f761a1, #8c1bab) 1;
  border-image-slice: 2; */
  border-radius: 5px !important;
}

.create-account {
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  display: none;
}

.btn-common:hover,
.btn-common:active,
.btn-common:focus {
  color: var(--white, #fff) !important;
  -webkit-text-fill-color: revert;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
}

.mobile-nav {
  display: none;
}

.burger-menu,
.cross-menu {
  font-size: 24px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.toggle-icon-container {
  text-align: end;
}

section.hero {
  padding: 80px 100px 53px 100px;
  background: var(--red-r-4, #fff4f7);
}

.btn-wrap {
  padding: 16px 32px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.btn-wrap a.btn-bank {
  font-family: var(--poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content h1 {
  color: var(--dark-dark, #111827);
  font-family: var(--roboto);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 31.5px 0 29px 0;
}

.hero-content .purple {
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.hero-detail {
  color: var(--dark-d-1, #353a69);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 82px;
}

.get-app {
  display: flex;
  gap: 21px;
  margin-bottom: 100px;
}

.guarantee-label {
  display: flex;
  gap: 7px;
  margin-bottom: 17.5px;
  align-items: center;
}

.guarantee-label p {
  color: var(--dark-d-1, #353a69);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* What we do */

section.what-we-do {
  padding: 54px 75px 40px 75px;
}

.section-title {
  margin-bottom: 54px;
}

.mini-title {
  font-family: var(--poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  margin-bottom: 5px;
}

.mini-title::before {
  content: "";
  background: linear-gradient(135deg, #f761a1 0%, #8c1bab 100%);
  height: 2px;
  margin-right: 10px;
  width: 95.047px;
}

h2.main-title {
  color: var(--dark-d-1, #353a69);
  text-align: center;
  font-family: var(--roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 67px;
}

h2.main-title.dark {
  color: var(--dark-dark, #111827) !important;
}

.feature-item {
  text-align: left;
  background-color: #fff;
  padding: 32px 38px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 100px;
}
.feature-content img {
  margin-bottom: 23px !important;
}

h3.feature-title {
  color: var(--dark-d-1, #353a69);
  font-family: var(--roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}

p.feature-detail {
  color: var(--dark-d-1, #353a69);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.feature-image {
  flex-shrink: 0;
  text-align: center;
}

/* How it works*/

section.how-it-works {
  background-image: url("./images/bg-how-it-works.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

section.how-it-works {
  padding: 39.5px 37px 0 37px;
}

section.owl-carousel-section {
  padding: 67.5px 37px;
}

/* Owl Carousel */

.owl-carousel-section .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 29px 20px;
  border-radius: 5px 5px 0px 0px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}

.owl-carousel-section img.card-number {
  width: 51px !important;
  height: 51px;
  margin-bottom: 41px;
}

.owl-carousel-section h5.card-title {
  color: var(--dark-dark, #111827);
  font-family: var(--roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;
}

p.card-text {
  color: var(--dark-d-1, #353a69);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 45px;
  margin-bottom: 48px !important;
}

/* Additional sections*/

section.additional-section {
  padding: 75px 140px 75px 117px;
  /* position: relative; */
}

.additional-1-content {
  background-image: url("./images/bg-additional1.svg");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: top right;
}

.additional-2-design {
  border-radius: 30px;
  background: rgba(250, 205, 73, 0.08);
  padding: 50px;
  position: relative;
}

.additional-2-content {
  background-image: url("./images/bg-additional2.svg");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: top left;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6%;
  left: -2%;
  overflow: hidden;
}

.additional-3-content {
  background-image: url("./images/bg-additional3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 100px;
}

p.additional-mini-title {
  display: flex;
  align-items: center;
  gap: 7px;
  text-align: center;
  font-family: var(--poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 3.22px;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}

h2.additional-main-title {
  color: var(--dark-dark, #111827);
  font-family: var(--roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;
}

p.additional-mini-title::before {
  content: "";
  height: 2px;
  width: 95.047px;
  background: linear-gradient(135deg, #f761a1 0%, #8c1bab 100%);
  display: block;
}

p.additional-content {
  color: var(--dark-d-1, #353a69);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.additional-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sign up today */

section.sign-up-today {
  padding: 100px;
  background: #f9f9f9;
  background-image: url("./images/bg-sign-up.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

p.sign-up-content {
  color: var(--dark-d-1, #353a69);
  text-align: center;
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 62px 0;
}

.get-applications {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

/* Footer section */

footer {
  padding: 50px 70px;
  background: var(--red-r-3, #ffd2de);
}

.footer-section {
  justify-content: space-between;
}

.social-icons {
  display: flex;
  gap: 17px;
}

.copyright {
  display: flex;
  gap: 7px;
}

footer .categories-container,
footer .footer-categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

footer .categories-container {
  gap: 32px;
}

footer .footer-categories {
  gap: 8px;
}

footer .footer-categories a {
  margin: 0;
  color: var(--dark-dark, #111827);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration: none;
}

.category-title p {
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-text p {
  color: var(--dark-dark, #111827);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.feature-bg {
  background-image: url("./images/feature-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-spin-container {
  position: relative;
}

.hero-spin {
  background-image: url("./images/spin.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: revert;
  width: 200px; /* Adjust the width and height as needed */
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: rotate 4s linear infinite;
  transform-origin: center; /* Set the rotation point to the center of the element */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* About Us Desing */

section.about-us.who-are-we {
  padding: 90px 72px 0 72px;
}

section.about-us.our-mission {
  padding: 62px 72px 0 72px;
}

.our-mission-content {
  padding: 82px 0 149px 0;
}

section.about-us.our-team {
  padding: 90px 0 0 72px;
  background: var(--black, #030944);
  overflow-x: hidden;
}

.about-us .hero-content .purple {
  position: relative;
}
.about-us .hero-content .purple::after {
  content: "";
  width: 142.921px;
  height: 13px;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  filter: blur(10px);
  display: block;
  position: absolute;
  top: 60px;
  left: 10px;
}

section.about-us .section-title {
  margin-bottom: 86px !important;
}
section.about-us .mini-title {
  justify-content: flex-start;
}

section.about-us h2.main-title {
  text-align: left;
  color: var(--dark-d-1, #353a69) !important;
}

section.about-us p.content {
  color: var(--dark-d-1, #353a69);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 41px;
}

.mission-profile {
  display: flex;
  align-items: center;
  gap: 24px;
}

.mission-profile .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mission-profile p.name {
  color: var(--dark-dark, #111827);
  font-family: var(--poppins);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mission-profile p.designation {
  color: var(--dark-dark, #111827);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.our-mission-content .review p {
  color: var(--dark-dark, #111827);
  font-family: var(--poppins);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content-wrapper .suggestion {
  margin: 17px 0 67px 0;
}

.our-team-content-container {
  padding: 80px 80px 80px 0;
}

.content-wrapper .question p {
  color: #fff;
  font-family: var(--poppins);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content-wrapper .suggestion p {
  color: var(--White, #fff);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-wrapper .seperator {
  height: 1px;
  background: #f2f3f6;
  margin-bottom: 74px;
}

.our-team-content .links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 73px;
}

.our-team-content .chat {
  padding: 18px 25px;
  border-radius: 5px;
  background: var(--White, #fff);
  display: flex;
  gap: 10px;
}

a.chat-us {
  color: var(--dark-dark, #111827);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

a.link-to-faq,
.or {
  color: #fff;
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Chat Us Design */

.chat-us-header .categories {
  display: none;
}

.chat-us {
  background-image: url("./images/chat-us-bg.svg") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: block;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

section.chat-us-form-container {
  padding: 0 157px 157px 157px;
  background: #f9f9f9;
  position: relative;
  z-index: 111;
}

section.chat-us-form-container::before {
  content: "";
  background: var(--red-r-4, #fff4f7);
  height: 180px !important;
  width: 100%;
  display: block;
  position: absolute;
  top: -40px;
  left: 0;
  z-index: -1;
}

.chat-us-form {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);
  padding: 69px;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.chat-us-form .field-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.chat-us-form .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.field label {
  color: var(--dark-dark, #111827);
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.chat-us-form .field input {
  padding: 19px 130.019px 23px 8.981px;
  border-radius: 5px;
  background: var(--light-grey, #f9fafb);
  border: 0;
  outline: 0;
}

.chat-us-form .field textarea {
  border-radius: 5px;
  background: var(--light-grey, #f9fafb);
  border: 0;
  outline: 0;
  padding: 10px;
  height: 313px;
}

.chat-us-form .field input::placeholder,
.chat-us-form .field textarea::placeholder {
  color: var(--dark-d-2, #8184a1);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.required {
  color: #ff4176;
}

.chat-us-form .buttons-container {
  display: flex;
  flex-direction: revert;
  align-items: flex-start;
  justify-content: space-between;
}

.chat-us-form .button-submit button {
  padding: 12px 118px;
  border-radius: 5px;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);
  outline: 0;
  border: 0;
  color: var(--White, #fff);
  text-align: center;
  font-family: var(--poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.chat-us-form .social-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-us-form .social-content .links {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.social-label,
.chat-label {
  display: flex;
}

.social-label p,
.chat-label p {
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-us-form .chat-time p {
  color: var(--dark-d-2, #8184a1);
  text-align: center;
  font-family: var(--poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chat-us-form .live-chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-us-form .socials-link {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

section.any-question {
  padding: 98px 0px 97px 0px;
  background: var(--yellow-y-4, #fffcf5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 38px;
}

section.any-question .question-title {
  color: var(--dark-dark, #111827);
  font-family: var(--roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

section.any-question .check-faq {
  padding: 12px 80px;
  border-radius: 5px;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}

section.any-question .check-faq a {
  color: var(--White, #fff);
  text-align: center;
  font-family: var(--poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

/* Contact Us Design */

.contact-us {
  background-image: url("./images/contact-us/contact-us-bg.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.contact-content {
  display: flex;
  align-items: center;
}

section.queries {
  padding: 80px 72px 174px 72px;
}

.queries-container {
  display: flex;
  flex-direction: row;
  gap: 53px;
}

.queries1 {
  background-image: url("./images/contact-us/queries-bg1.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.queries2 {
  background-image: url("./images/contact-us/queries-bg2.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.queries1,
.queries2 {
  padding: 42px 30px;
  background: #fff;
  box-shadow: 22.21154px 44.42308px 88.84616px 0px rgba(0, 0, 0, 0.1);
}

.queries-container .queries-profile {
  margin-bottom: 29px;
}

.queries-container .queries-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.queries-container .queries-link {
  margin-top: 88px;
}

.queries-content .title {
  color: var(--dark-d-1, #353a69);
  font-family: var(--roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.queries-content p.content {
  color: var(--dark-d-1, #353a69);
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.queries-container .queries-link a {
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background: var(--Grad, linear-gradient(135deg, #f761a1 0%, #8c1bab 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .header .categories ul {
    display: flex;
    gap: 39px;
  }
  .button-container {
    display: flex !important;
    justify-content: flex-end;
    gap: 17px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background: var(--red-r-4, #fff4f7) !important;
    padding: 17px;
    z-index: 999;
    position: relative;
  }

  .header .mobile-nav.show {
    padding: 30px 23px 30px 23px;
    background-color: #fff;
  }

  .header .mobile-nav.show ul {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 0;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  nav.mobile-nav.show ul li a {
    color: var(--dark-dark, #111827);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-transform: capitalize;
  }

  nav.mobile-nav.show {
    margin-top: 30px;
  }

  nav.mobile-nav.show .contact {
    margin: 20px 0;
  }

  section.hero {
    padding: 25px 17px 25px 17px;
    background: var(--red-r-4, #fff4f7);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 36px;
    text-align: center;
  }

  p.hero-detail {
    font-size: 14px;
    text-align: center;
  }

  .guarantee-label p {
    font-size: 12px;
  }

  section.what-we-do {
    padding: 25px 17px;
  }

  .mini-title {
    font-size: 12px;
    justify-content: flex-start;
  }

  h2.main-title {
    font-size: 24px;
    line-height: normal;
    text-align: left;
  }

  .feature-item {
    padding: 0;
    gap: 40px;
  }

  h3.feature-title {
    font-size: 20px;
  }

  p.feature-detail {
    font-size: 14px;
  }

  .adjust-space {
    gap: 40px;
  }

  h2.additional-main-title {
    font-size: 20px;
  }

  section.how-it-works .mini-title,
  section.how-it-works .main-title {
    justify-content: center;
    text-align: center;
  }

  .owl-carousel-section h5.card-title {
    font-size: 18px;
  }

  p.card-text {
    font-size: 13px;
  }

  section.additional-section {
    padding: 25px 17px 80px 17px;
  }

  .additional-image img {
    max-width: 100%;
  }

  .additional-3-content {
    padding-left: 17px;
  }
  .additional-2-design {
    padding: 50px 25px;
  }

  .sign-up-today h2.main-title {
    text-align: center;
  }

  .sign-up-today p.mini-title {
    justify-content: center;
  }

  section.sign-up-today {
    padding: 25px;
    background-size: 25px 135px;
  }

  .get-applications img {
    max-width: 40%;
  }

  .additional-2-content {
    background-size: 30% 16%;
  }

  footer {
    padding: 50px 18px;
  }

  .categories-container.social {
    justify-content: center;
    align-items: center !important;
  }

  .category-title p {
    font-size: 14px;
  }

  footer .footer-categories a {
    font-size: 14px;
  }

  .solution-for-you,
  .help-center {
    margin-top: 60px;
  }

  .legal {
    margin-top: 33px;
  }

  footer .categories-container {
    gap: 19px;
  }

  .legal .categories-container {
    align-items: center;
  }

  .legal .categories-container .category-title {
    margin-left: -52px;
  }

  .footer-text p {
    font-size: 14px;
  }

  .copyright {
    font-size: 13px;
    align-items: center;
  }

  .owl-dots {
    display: none;
  }

  button.owl-prev span,
  button.owl-next span {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 15px;
    font-size: 0px;
    background: #fff;
  }

  section.how-it-works {
    background-size: 12% 50%;
  }

  button.owl-prev span {
    background-image: url("./images/chevron-left.svg") !important;
  }
  button.owl-next span {
    background-image: url("./images/chevron-right.svg") !important;
  }
  button.owl-next span,
  button.owl-prev span {
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }

  .owl-theme .owl-nav [class*="owl-"]:hover {
    background: none !important;
  }

  .hero-spin {
    background-image: url("./images/mobile-spin.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: revert;
    width: 100px; /* Adjust the width and height as needed */
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 50px;
    animation: rotate 4s linear infinite;
    transform-origin: center; /* Set the rotation point to the center of the element */
  }

  .about-us .hero-content .purple::after {
    width: 100px;
    height: 6px;
    top: 30px;
    left: 0px;
  }

  section.about-us.who-are-we,
  section.about-us.our-mission {
    padding: 25px 17px;
  }
  .our-mission-content {
    padding: 0;
    gap: 50px;
  }

  .mission-profile p.name {
    font-size: 16px;
  }

  .mission-profile p.designation {
    font-size: 14px;
  }

  .our-mission-content .review p {
    font-size: 20px;
  }

  section.about-us.our-team {
    padding: 25px 17px 25px 17px;
  }

  .our-team-content-container {
    padding: 10px;
  }

  .content-wrapper .question p {
    font-size: 20px;
  }

  .content-wrapper .suggestion p {
    font-size: 14px;
  }

  .our-team-content .links-wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .our-team-content {
    gap: 50px;
  }
  .team-img img {
    max-width: 100%;
  }

  .chat-us {
    background-size: 100% 100% !important;
  }
  section.chat-us-form-container {
    padding: 25px 17px;
  }

  .chat-us-form {
    padding: 15px;
  }

  .chat-us-form .field-divider {
    flex-direction: column;
  }

  .chat-us-form .buttons-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .chat-us-form .button-submit button,
  section.any-question .check-faq a {
    font-size: 14px;
  }

  section.any-question .question-title {
    font-size: 24px;
  }

  .chat-us-header .mobile-nav ul li {
    display: none;
  }
}
